body { 
font-family: Arial, sans-serif; 
margin: 0; 
padding: 0; 
} 

.footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.app-layout {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
}